.env
.env.*
*.env
!.env.example
.serverless/
.serverless_plugins/

__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.pyc

venv/
env/
ENV/
.venv/
.env/

*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
wheels/
pip-wheel-metadata/
*.manifest

.pytest_cache/
.coverage
htmlcov/
.tox/
nosetests.xml
coverage.xml
*.cover

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock



*.zip
*.tar.gz
tmp/
temp/
